html {
    scroll-behavior: smooth;
}
body {
    background-color: #eddcdc;
    color: #0044d6;
    font-family: "Roboto Thin", sans-serif;
    font-weight: bolder;
}
.navbar-name{
    font-family: Italiana, sans-serif;
}
.navbar-nav{
    background-color: #e8d1d1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.contact-navbar {
    border: none;
    background: none;
    color: #0044d6;
    font-weight: bold;
    font-size: 4vh;
}
.contact-navbar:hover{
    color: #a2a2a2;
    cursor: pointer;
}

.navbar-toggler.collapsed {
    color: rgba(0, 0, 0, 0);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    background-image: none;
    color: grey;
}

.first{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: left;
    min-height: 100vh;
    font-family: Italiana, sans-serif;
}

.project-page{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    text-align: left;
    min-height: 100vh;
}
.project {
    max-height: 100vh;
    max-width: 70vw;
    font-size: 2vh;
    font-weight: lighter;
    margin-bottom: 2vh;
}

.introduction{
    font-size: 4vh;
    font-weight: lighter;
    max-width: 60vw;
    max-height: 100vh;
}

.contacts{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    justify-content: center;
    align-items: start;
    text-align: left;
}
.cv-page{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    text-align: left;
    min-height: 100vh;
}
.cv-section{
    font-family: Italiana, sans-serif;
    font-size: 2.5vh;
    margin-bottom: 0;
}
.data{
    font-family: Roboto, sans-serif;
    color: #3b3737;
    margin-left: 2.5vw;
}

.personal-info,
.skills{
    width: 70vw;
    font-weight: lighter;
    font-size: 2vh;
}

.download-icon{
    background: none;
    border:none;
    font-size: 5vh;
    color: #0044d6;
}
.download-icon:hover{
    cursor: pointer;
    color: #a2a2a2;
}
.download-icon:focus,
.download-icon:active{
    outline: none;
    box-shadow: none;
}

.intro-text{
    margin-top:55%
}
.intro-text-bigger{
    display:none
}
.big-screen{
    display:none
}

.project-title{
    font-family: Italiana, sans-serif;
    font-size: 3vh;
    margin-bottom: 2vh;
}
.project-description{
    margin-left: 3vw;
    color: #3d3c3c;
}

a {
    text-decoration: none;
    font-size: 3vh;
    font-weight: bold;
    color: white;
}
a:hover {
    color: #a2a2a2;
}

.right{
    float: right;
}

.project-icon{
    height: 1vh;
}
.images{
    margin-right: 3vw
}


.contact-button {
    font-family: Optima, Arial, sans-serif;
    background-color: gainsboro;
    border: none;
    cursor: pointer;
    font-size: 2vh;
    margin-right: 2vw;
}

.contact-button:hover{
    color: #124887;
}

/*buttons*/

.contact-icons{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: left;
}
.contact-title{
    font-family: Italiana, sans-serif;
    margin-left: 2vw;
}
.contact-icon{
    background: none;
    color: #0044d6;
    border: none;
    font-weight: bold;
    font-size: 7vh;
    margin-right: 2vw;
}
.contact-icon:hover{
    color: #a2a2a2;
    cursor: pointer;
}


.external-link{
    font-size: 2vh;
    font-weight: lighter;
    color: #0044d6;
    font-family: Roboto, Arial, sans-serif;
    margin-left: 3vw;
}

.navbar-toggler{
    background-color: #eddcdc;
    border: none;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.contact-navbar:focus,
.contact-navbar:active{
    outline: none;
    box-shadow: none;
}
.additional-text{
    font-family: "Roboto Thin", sans-serif;
    font-size: 2vh;
    font-weight: lighter;
    font-style: italic;
}

/*tablets*/
@media only screen and (min-width: 760px) and (max-width: 991px){
    .navbar{
        max-height: 5vh;
    }
    .navbar-name{
        display:none;
    }
    .navbar-collapse{
        max-height: 5vh;
    }
    .navbar-nav{
        background-color: transparent;
        max-height: 5vh;
    }
    .intro-text{
        display:none
    }
    .intro-text-bigger{
        display: block;
    }
    .big-screen{
        display: block;
    }
    .project{
        margin-top: 2vh;
        margin-bottom: 2vh;
        width: 70vw;
    }
    .contact-title{
        font-size: 2.5vh;
        font-weight: lighter;
    }
    .intro-text-bigger,
    .project,
    .personal-info,
    .skills,
    .contact-title,
    .contact-icons{
        margin-left: 2vw;
    }
    .additional-text{
        margin-left:2vw;
        font-family: "Roboto Thin", sans-serif;
        font-size: 2vh;
        font-weight: lighter;
        font-style: italic;
    }
}

/*rest*/
@media only screen and (min-width: 992px){
    .navbar{
        max-height: 5vh;
        margin-left: 2vw;
    }
    .navbar-name{
        display:none;
    }
    .navbar-nav{
        background-color: transparent;
        min-height: 5vh;
        max-height: 5vh;
    }
    .navbar-collapse{
        max-height: 5vh;
    }
    .intro-text{
        display:none;
    }
    .intro-text-bigger{
       display: block;
        margin-left: 3vw;
        font-size: 4vw;
    }
    .big-screen{
        display: block;
    }
    .project{
        margin-top: 2vh;
        margin-bottom: 2vh;
        margin-left: 3vw;
        width: 70vw;
    }
    .contact-title{
        font-size: 3vh;
        font-weight: lighter;
    }
    .personal-info,
    .skills,
    .contact-title,
    .contact-icons{
        margin-left: 3vw;
    }
    .additional-text{
        margin-left:3vw;
        font-family: "Roboto Thin", sans-serif;
        font-size: 2vh;
        font-weight: lighter;
        font-style: italic;
    }
}
