html {
    scroll-behavior: smooth;
}

body {
    background-color: #f2b8c2;
    color: #f5f5f5;
    font-family: Optima, Arial, sans-serif;
}
.first{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.project-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    min-height: 100vh;
}
.contacts{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    top: 100vh;
    right: -100vw;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.cv-page{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    position: absolute;
    min-width: 100vw;
    top: 0;
    right: -100vw;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.personal-info{
    margin-right: 4vw;
    max-width: 30vw;
    font-size: 2vh;
}
.skills{
    max-width: 50vw;
    font-size: 2vh;
}
.download-icon{
    background: none;
    color: white;
    border:none;
    font-size: 4vh;
}
.download-icon:hover{
    cursor: pointer;
    color: #4f2d33;
}
.introduction{
    font-size: 6vh;
    font-weight: normal;
    max-width: 50%;
    min-height: 100vh;
}
.intro-text{
    margin-top:55%
}
.project-title{
    font-weight: bold;
    font-size: 3vh;
}
a {
    text-decoration: none;
    font-size: 3vh;
    font-weight: bold;
    color: white;
}
a:hover {
    color: #a2a2a2;
}

.project {
    max-width: 50vw;
    font-size: 2vh;
    border: 0 solid;
    border-bottom-width: 1px;
    margin-bottom: 3vh;
    margin-top: 2vh;
}

.project-icon{
    height: 1vh;
}
.images{
    margin-right: 3vw
}
.cv{
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 5vh;
    transform: rotate(90deg);
    position: absolute;
    right: 5%
}

.cv:hover{
    color: #ab757e;
    cursor: pointer;
}

.contact {
    transform: rotate(270deg);
    position: absolute;
    left: 5%;
}
.contact-icon{
    background: none;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 5vh;
}
.contact-icon:hover{
    color: #ab757e;
    cursor: pointer;
}

.arrow-down{
    background: none;
    border: none;
    color: white;
    position: absolute;
    bottom: 5%;
    left: 42%;
    font-weight: bold;
    font-size: 4vh;
}
.arrow-down:hover{
    color: #ab757e;
    cursor: pointer;
}

.arrow-up{
    background: none;
    border: none;
    color: white;
    position: absolute;
    top:105%;
    font-weight: bold;
    font-size: 4vh;
}
.arrow-up:hover{
    color: #ab757e;
    cursor: pointer;
}
.arrow-left{
    background: none;
    border: none;
    color: white;
    position: absolute;
    left:5%;
    font-weight: bold;
    font-size: 4vh;
    transform: rotate(270deg);
}
.arrow-left:hover{
    color: #ab757e;
    cursor: pointer;
}
.arrow-right{
    background: none;
    border: none;
    color: white;
    position: absolute;
    right:5%;
    font-weight: bold;
    font-size: 4vh;
    transform: rotate(90deg);
}
.arrow-right:hover{
    color: #ab757e;
    cursor: pointer;
}
.arrow-up-to-cv{
    background: none;
    border: none;
    color: white;
    position: absolute;
    top:5%;
    font-weight: bold;
    font-size: 4vh;
}
.arrow-up-to-cv:hover{
    color: #ab757e;
    cursor: pointer;
}
.contact-button {
    font-family: Optima, Arial, sans-serif;
    background-color: gainsboro;
    border: none;
    cursor: pointer;
    font-size: 2vh;
    margin-right: 2vw
}

.contact-button:hover{
    color: #124887;
}

.rose{
    color: #a66973;
}
.dark-rose{
    color: #4f2d33;
}
